.vs
.dotnet/
Automaton/bin/
Automaton/obj/
Automaton/Hallmark
Automaton.Tests/bin/
Automaton.Tests/obj/
Automaton.Tuning/bin/
Automaton.Tuning/obj/
packages
samples
captures
Automaton/Automaton.csproj.user
Automaton/Properties/PublishProfiles/FolderProfile.pubxml.user
