.vs
.dotnet/
Discovery/bin/
Discovery/obj/
Discovery/Hallmark
Discovery.Tests/bin/
Discovery.Tests/obj/
Discovery.Tuning/bin/
Discovery.Tuning/obj/
packages
samples
captures
Discovery/Discovery.csproj.user
Discovery/Properties/PublishProfiles/FolderProfile.pubxml.user
